html{
    background-color: rgb(237, 244, 237);
}
body{
    margin: 0;
    padding: 0;
}
.menuimg{
    width: 100vw;
}
a{
    text-decoration: none;
}
#top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 50;
    color: white;
    background-color: orange;
    width: 31px;
    height: 20px;
    border-radius: 50%;
}

@media only screen and (min-width: 400px){
    .menuimg{
        width: 250px;
    }
}