#home{
    display: grid;
    background-color: aqua;
    width: 100vw;
    height: 25vh;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 280px;
    // background-image: url(/media/Pizza\ Logo.png);
    >img{
        position: absolute;
        left: 30vw;
        height: 20vh;
    }
    >p{
        position: absolute;
        justify-self: center;
        top: 135px;
        left: 45vw;
    }
    >.menu{
        position: absolute;
        justify-self: end;
        align-self: center;
    }
}