#home{
    display: grid;
    background-color:rgb(127, 127, 127);
    height: 25vh;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 5px;
    >img{
        position: absolute;
        left: 29vw;
        height: 20vh;
    }
    >p{
        position: relative;
        justify-self: center;
        top: 125px;
        left: 1vw;
        color: white;
    }
    >.menu{
        position: absolute;
        justify-self: start;
        align-self: center;
        color: white;
    }
    >.contact{
        position: absolute;
        justify-self: end;
        align-self: center;
        color: white;
    }
}

#menu{
    display: grid;
    background-color:rgb(127, 127, 127);
    height: 25vh;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 1px;
    >img{
        position: absolute;
        left: 29vw;
        height: 20vh;
    }
    >p{
        position: absolute;
        justify-self: center;
        top: 130px;
        left: 45vw;
        color: white;
    }
    >.home{
        position: absolute;
        justify-self: start;
        align-self: center;
        color: white;
    }
    >.contact{
        position: absolute;
        justify-self: end;
        align-self: center;
        color: white;
    }
}

#contact{
    display: grid;
    background-color: rgb(127, 127, 127);
    height: 25vh;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 5px;
    >img{
        position: absolute;
        left: 29vw;
        height: 20vh;
    }
    >p{
        position: absolute;
        justify-self: center;
        top: 130px;
        left: 42vw;
        color: white;
    }
    >.menu{
        position: absolute;
        justify-self: start;
        align-self: center;
        color: white;
    }
    >.home{
        position: absolute;
        justify-self: end;
        align-self: center;
        color: white;
    }
}

#tophours~p{
    display: none;
}


@media only screen and (min-width: 400px){
    #tophours~p{
        position: relative;
        justify-self: center;
        top: 80px;
        left: 350px;
        display: grid;
        width: 260px;
        color: white;
        }
    #home{
        display: grid;
        height: 23vh;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-bottom: 10px;
        >img{
            position: absolute;
            left: 0;
            top: 1.5vh;
            height: 20vh;
        }
        >.title{
            display: none;
        }
        >.menu{
            position: absolute;
            justify-self: end;
            right: 150px;
            align-self: center;
        }
        >.contact{
            position: absolute;
            justify-self: end;
            right: 30px;
            align-self: center;
        }
    }
    #menu{
        display: grid;
        height: 23vh;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-bottom: 10px;
        >img{
            position: absolute;
            left: 0;
            top: 1.5vh;
            height: 20vh;
        }
        >.title{
            display: none;
        }
        >.home{
            position: absolute;
            justify-self: end;
            right: 150px;
            align-self: center;
        }
        >.contact{
            position: absolute;
            justify-self: end;
            right: 30px;
            align-self: center;
        }
    }
    #contact{
        display: grid;
        height: 23vh;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-bottom: 10px;
        >img{
            position: absolute;
            left: 0;
            top: 1.5vh;
            height: 20vh;
        }
        >.title{
            display: none;
        }
        >.home{
            position: absolute;
            justify-self: end;
            right: 150px;
            align-self: center;
        }
        >.menu{
            position: absolute;
            justify-self: end;
            right: 30px;
            align-self: center;
        }
    }
}

@media only screen and (min-width: 900px){
    #tophours~p{
        position: relative;
        justify-self: center;
        top: 50px;
        left: 300px;
        width: 300px;
        }
    #home{
        display: grid;
        height: 23vh;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-bottom: 10px;
        >img{
            position: absolute;
            left: 0;
            top: 1.5vh;
            height: 20vh;
        }
        >.title{
            display: none;
        }
        >.menu{
            position: absolute;
            justify-self: end;
            right: 250px;
            align-self: center;
        }
        >.contact{
            position: absolute;
            justify-self: end;
            right: 100px;
            align-self: center;
        }
    }
    #menu{
        display: grid;
        height: 23vh;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-bottom: 10px;
        >img{
            position: absolute;
            left: 0;
            top: 1.5vh;
            height: 20vh;
        }
        >.title{
            display: none;
        }
        >.home{
            position: absolute;
            justify-self: end;
            right: 250px;
            align-self: center;
        }
        >.contact{
            position: absolute;
            justify-self: end;
            right: 100px;
            align-self: center;
        }
    }
    #contact{
        display: grid;
        height: 23vh;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-bottom: 10px;
        >img{
            position: absolute;
            left: 0;
            top: 1.5vh;
            height: 20vh;
        }
        >.title{
            display: none;
        }
        >.home{
            position: absolute;
            justify-self: end;
            right: 250px;
            align-self: center;
        }
        >.menu{
            position: absolute;
            justify-self: end;
            right: 100px;
            align-self: center;
        }
    }
}