@use "general";
@use "footer";
@use "header";


#homemain{
    display: grid;
    grid-template-columns: 1fr;
    >#intro{
        position: relative;
        margin-bottom: 20px;
        width: 100%;
    }
    >#about{
        display: inline;
        margin-bottom: 100px;
    }
    >#hours{
        // background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFmOZAiCp9O_8jSADIFy9eqc1nc05sVgtyqQ&usqp=CAU);
        // box-shadow: inset 0 0 0 1000px rgba(0,0,0,1);

        ~p{
                color: white;
                font-size: larger;

        }
    }
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFmOZAiCp9O_8jSADIFy9eqc1nc05sVgtyqQ&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: absolute;
    background-position: bottom;
    // box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
}

#menumain{

    >#apps,#pizza,#pasta,#calzone,#dessert,#drink {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

#contactmain{
    display: grid;
    >iframe{
        width: 100%;
    }
}

// @media only screen and (minmax 300){

// }