html {
  background-color: lightgray;
}

body {
  margin: 0;
  padding: 0;
}

.menuimg {
  width: 100vw;
}

footer {
  text-align: center;
  font-size: small;
  background-color: darkgray;
  min-height: 30px;
  position: relative;
  top: 105px;
}

#home {
  display: grid;
  background-color: aqua;
  height: 25vh;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 10px;
}
#home > img {
  position: absolute;
  left: 29vw;
  height: 20vh;
}
#home > p {
  position: absolute;
  justify-self: center;
  top: 130px;
  left: 45vw;
}
#home > .menu {
  position: absolute;
  justify-self: start;
  align-self: center;
}
#home > .contact {
  position: absolute;
  justify-self: end;
  align-self: center;
}
#home > #tophours ~ p {
  display: none;
}

#menu {
  display: grid;
  background-color: aqua;
  height: 25vh;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 10px;
}
#menu > img {
  position: absolute;
  left: 29vw;
  height: 20vh;
}
#menu > p {
  position: absolute;
  justify-self: center;
  top: 130px;
  left: 45vw;
}
#menu > .home {
  position: absolute;
  justify-self: start;
  align-self: center;
}
#menu > .contact {
  position: absolute;
  justify-self: end;
  align-self: center;
}

#contact {
  display: grid;
  background-color: aqua;
  height: 25vh;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 10px;
}
#contact > img {
  position: absolute;
  left: 29vw;
  height: 20vh;
}
#contact > p {
  position: absolute;
  justify-self: center;
  top: 130px;
  left: 42vw;
}
#contact > .menu {
  position: absolute;
  justify-self: start;
  align-self: center;
}
#contact > .home {
  position: absolute;
  justify-self: end;
  align-self: center;
}

@media only screen and (max-width: 400px) {
  #tophours ~ p {
    display: none;
  }
}
@media only screen and (min-width: 400px) {
  #tophours ~ p {
    display: initial;
  }
  #home {
    background-color: orange;
    display: grid;
    height: 23vh;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 10px;
  }
  #home > img {
    position: absolute;
    left: 0;
    top: 1.5vh;
    height: 20vh;
  }
  #home > p {
    display: none;
  }
  #home > .menu {
    position: absolute;
    justify-self: center;
    align-self: center;
  }
  #home > .contact {
    position: absolute;
    justify-self: end;
    align-self: center;
  }
}
#homemain {
  display: grid;
  grid-template-columns: 1fr;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFmOZAiCp9O_8jSADIFy9eqc1nc05sVgtyqQ&usqp=CAU);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: absolute;
  background-position: bottom;
}
#homemain > #intro {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}
#homemain > #about {
  display: inline;
  margin-bottom: 100px;
}
#homemain > #hours ~ p {
  color: white;
  font-size: larger;
  text-align: center;
}

#menumain > h2 {
  font-weight: 1500px;
  background-color: red;
}
#menumain > .price {
  font-weight: 9000px;
}
#menumain > #apps, #menumain #pizza, #menumain #pasta, #menumain #calzone, #menumain #dessert, #menumain #drink {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: -1px;
  border: 2px solid red;
}

#contactmain {
  display: grid;
}
#contactmain > iframe {
  width: 100%;
  margin-bottom: 10px;
}
#contactmain > #reachus {
  display: grid;
  background-image: url(https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2014%2F07%2F10%2Fpepperoni-pizza-ck-x.jpg&q=60);
  background-position: bottom;
  height: 400px;
}
#contactmain #phone {
  justify-self: center;
  position: relative;
  top: 180px;
  color: black;
  background-color: aqua;
  width: 55px;
  height: 20px;
  border: 1px solid blue;
  border-radius: 10px;
  margin-bottom: 5px;
}
#contactmain #email {
  justify-self: center;
  color: black;
  background-color: aqua;
  width: 68px;
  height: 20px;
  border: 1px solid blue;
  border-radius: 10px;
}/*# sourceMappingURL=grid.css.map */