@use "general";
@use "footer";
@use "header";

html{
    background-color: rgb(26, 40, 31);
}
#homemain{
    display: grid;
    grid-template-columns: 1fr;
    >#intro{
        position: relative;
        margin-bottom: 20px;
        width: 100%;
    }
    >#about{
        display: inline;
        margin-bottom: 50px;
        color: white;
        text-align: center;
    }
    >#hours{

        ~p{
            color: white;
            font-size: larger;
            text-align: center;
        }
    }
    >#desktop{
        display: none;
    }
    background-image: url(https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: 100vw 40vh;
    background-position: absolute;
    background-position: bottom;
    // box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
}

#menumain{
    >h2{
        font-weight: 1500px;
        background-color: rgb(111, 26, 7);
        color: white;
    }
    >.price{
        font-weight: 9000px;
    }
    >#apps,#pizza,#pasta,#calzone,#dessert,#drink {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0px;
        justify-items: center;
        color: white;
    }
}

#contactmain{
    display: grid;
    >iframe{
        width: 100%;
        margin-bottom: 10px;
    }
    >#reachus{
        display: grid;
        background-image: url(https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2014%2F07%2F10%2Fpepperoni-pizza-ck-x.jpg&q=60);
        background-position: bottom;
        background-repeat: no-repeat;
        height: 400px;
    }
    #phone{
        justify-self: center;
        position: relative;
        top: 410px;
        font-weight: 900;
        color: white;
        font-size: 32px;
        width: 200px;
        height: 35px;
        border: 1px solid white;
        border-radius: 10px;
        margin-bottom: 5px;
        text-align: center;
    }
    #email{
        justify-self: center;
        position: relative;
        top: 260px;
        font-weight: 900;
        color: white;
        font-size: 24px;
        width: 350px;
        height: 25px;
        border: 1px solid white;
        border-radius: 10px;
        text-align: center;
    }
    >#grab{
        display: none;
    }
}
//The following section is to be seen when the website is on a tablet.
@media only screen and (min-width: 400px){
    #homemain{
        background-size: 100vw 50vh;
        >#intro{
            width: 100vw;
            height: 50vh;
            margin-bottom: 20px;
        }
        >#about{
            margin-bottom: 0px;
            color: white;
            text-shadow: 50px black;
            font-size: 24px;
            text-align: center;
        }
        >#hours~p{
            display: none;
        }
        >#desktop{
            display: none;
        }
    }
    #menumain{
        display: grid;
        >#apps,#pizza,#pasta,#calzone,#dessert,#drink{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
        }
    }
    #contactmain{
        >iframe{
            height: 500px;
        }
        >#reachus #phone{
            top: 420px;
            height: 28px;
            width: 180px;
            font-size: 28px;
            text-align: center;
        }
        >#reachus #email{
            top: 260px;
            height: 28px;
            width: 400px;
            font-size: 28px;
            text-align: center;
        }
    }
}
//This following section is for use on a desktop or laptop computer.
@media only screen and (min-width: 900px){
    #homemain{
        >#intro{
            width: 90vw;
            left: 4vw;
            height: 100vh;
            margin-bottom: 250px;
        }
        >#about{
            position: relative;
            margin-bottom: 100px;
            color: white;
            text-shadow: 50px black;
            font-size: 24px;
            text-align: center;
            bottom: 200px;
        }
        >#hours~p{
            display: none;
        }
        >#desktop{
            position: absolute;
            top: 1165px;
            display: initial;
            z-index: -1;
            width: 99vw;
            height: 80vh;

        }
        background-image: none;
    }
    #menumain{
        display: grid;
        >#apps,#pizza,#pasta,#calzone,#dessert,#drink{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            column-gap: 5px;
            align-items: start;
            >.food{
                display: grid;
                justify-items: center;
                text-align: center;
                width: 300px;
                >.menuimg{
                    width: 300px;
                }
            }
        }
    }
    #contactmain{
        >iframe{
            height: 700px;
        }
        >#reachus #phone{
            top: 420px;
            height: 28px;
            width: 150px;
            font-size: 20px;
            text-align: center;
            font-size: 24px;
        }
        >#reachus #email{
            top: 260px;
            height: 28px;
            width: 340px;
            font-size: 24px;
            text-align: center;
        }
        >#grab{
            display: contents;
        }
        >#grab #pizzaslice{
            position: absolute;
            top: 930px;
            width: 700px;
        }
        >#grab #alfredo{
            position: absolute;
            width: 700px;
            right: 0px;
            top: 930px;
        }
    }
}